/* Global styles */

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Rufina";
    src: url("./Rufina/Rufina-Bold.ttf");
    font-weight: bold;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* background-color: rgb(21, 88, 115); */
}

.btn{
    font-family: "Rufina";
    height: 4rem;
    font-size: 1.5rem;
    color: white;
    padding:0 2.5rem;
    border: 2px solid white;
    cursor: pointer;
    /* transition: 0.3s; ease*/
    white-space: nowrap;

}
/* 
.btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: green;
} */

.btn.clear{
    background-color: rgba(0, 0, 0, 0);
    /* color: opaque; */
}

 /* header styles */
.page-header{
    background-image: url("./Photos/menu-header.png");
    padding: 1rem 5rem 8rem 5rem;
    color: white;
    background-size:cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    /* background-color: rgb(133, 77, 3); */
}

.navbar .left{
    display:flex;
    align-items: center;
    gap: 1rem;
}

.navbar .right{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.navbar .nav-menu{
    width: 3rem;
    height:auto;
    display: none;
}

.navbar .logo{
    height: 5rem;
}

.navbar .right .phone{
    font-family: "Lato";
    font-size: 1.2rem;
}

.page-header .hero-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;

}

.title{
    font-family: "Rufina";
    font-size: 8rem;
    width: 70%;
    line-height:0.9;
    margin: 0;
}

.subtitle{
    font-family: "Rufina";
    font-size: 1.7rem;
    margin-top: 2rem;
    width: 60%;
}

/* Main content styles */


main{
    overflow-x:hidden;

}

.section-heading-container{
text-align: center;
padding: 4rem 2rem 2rem 2rem;
}

.section-heading-container .section-title{
    font-family: "Rufina";
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.section-heading-container .section-subtitle{
    font-family: "Lato";
    font-size: 1.9rem;
    max-width: 600px;
    margin: 0 auto;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 9rem;
    gap: 4rem;
    /* background-color: red; */
}

.menu-container .menu-img{
    width: 40%;
    height: auto;
    object-fit: cover;
}

.menu-container .menu-options{
    width: 50%;
}

.menu-container .menu-item > p{
    font-size: 3rem;
    font-family: "Rufina";
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 0;
}

/* Reservation */

/* .reservation {
  background: #fafafa;
  padding: 3rem 1rem;
  text-align: center;
}

.reservation h2 {
  color: #1a2600;
  margin-bottom: 1rem;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reservation-form input,
.reservation-form select {
  width: 250px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.reservation-form input:focus,
.reservation-form select:focus {
  border-color: #1a2600;
}

.reservation-form button {
  margin-top: 1rem;
  background: #1a2600;
  color: #fff;
  border: none;
  padding: 12px 40px;
  border-radius: 8px;
  cursor: pointer;
}

.reservation-form button:hover {
  background: #324b0b;
} */

/* Footer */
/* .footer {
  background: #1a2600;
  color: #fff;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-info {
  text-align: center;
}

.subscribe {
  text-align: center;
}

.subscribe h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.subscribe-form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.subscribe-form input {
  background: #1a2600;
  color: #ffffff;
  padding: 12px 20px;
  border-color: #ffffff;
  border-radius: 8px;
  width: 250px;
}

.subscribe-form button {
  background: #1a2600;
  align-items: right;
  color: #f6f6f6;
  border-color: white;
  border-radius: 8px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
}

.subscribe-form button:hover {
  background: #1a2600;
} */

/* Responsive */
/* @media (max-width: 600px) {
  .menu-section h3 {
    flex-direction: column;
    align-items: flex-start;
  }
} */

.menu-container .menu-item .item-info {
  border-top: 4px dotted black;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-container .menu-item .item-info h3{
font-size: 2.5rem;
font-family: "Rufina";
margin-top: 0;
margin-bottom: 1rem;
line-height: 1.1;
}

.menu-container .menu-item .item-info p{
font-size: 1.3rem;
font-family: "Lato";
margin-top: 0;
line-height: 1.1;
}


/* Make a reservation styles */

.reservation-container{
  background-color: rgb(255, 254, 238);
  padding: 8rem 8rem;
  text-align: center;
}

.reservation-container .scheduling-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 2rem;

}