/* Global styles */

@font-face {
    font-family: "Lato";
    src: url("./Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Rufina";
    src: url("./Rufina/Rufina-Bold.ttf");
    font-weight: bold;
}
 
/* CSS Variable */
:root {
    --footer--bg--color: #233000;
    --footer-text-color: white;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* background-color: rgb(21, 88, 115); */
}

.btn{
    font-family: "Rufina";
    height: 4rem;
    font-size: 1.5rem;
    color: white;
    padding:0 2.5rem;
    border: 2px solid white;
    cursor: pointer;
    /* transition: 0.3s; ease*/
    white-space: nowrap;

}
/* 
.btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: green;
} */

.btn.clear{
    background-color: rgba(0, 0, 0, 0);
    /* color: opaque; */
}

 /* header styles */
.page-header{
    background-image: url("./Photos/menu-header.png");
    padding: 1rem 5rem 8rem 5rem;
    color: white;
    background-size:cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    /* background-color: rgb(133, 77, 3); */
}

.navbar .left{
    display:flex;
    align-items: center;
    gap: 1rem;
}

.navbar .right{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.navbar .nav-menu{
    width: 3rem;
    height:auto;
    display: none;
}

.navbar .logo{
    height: 5rem;
}

.navbar .right .phone{
    font-family: "Lato";
    font-size: 1.2rem;
}

.page-header .hero-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;

}

.title{
    font-family: "Rufina";
    font-size: 8rem;
    width: 70%;
    line-height:0.9;
    margin: 0;
}

.subtitle{
    font-family: "Rufina";
    font-size: 1.7rem;
    margin-top: 2rem;
    width: 60%;
}

/* Main content styles */


main{
    overflow-x:hidden;

}

.section-heading-container{
text-align: center;
padding: 4rem 2rem 2rem 2rem;
}

.section-heading-container .section-title{
    font-family: "Rufina";
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.section-heading-container .section-subtitle{
    font-family: "Lato";
    font-size: 1.9rem;
    max-width: 600px;
    margin: 0 auto;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 9rem;
    gap: 4rem;
    /* background-color: red; */
}

.menu-container .menu-img{
    width: 40%;
    height: auto;
    object-fit: cover;
}

.menu-container .menu-options{
    width: 50%;
}

.menu-container .menu-item > p{
    font-size: 3rem;
    font-family: "Rufina";
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 0;
}

.menu-container .menu-item .item-info {
  border-top: 4px dotted black;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-container .menu-item .item-info h3{
font-size: 2.5rem;
font-family: "Rufina";
margin-top: 0;
margin-bottom: 1rem;
line-height: 1.1;
}

.menu-container .menu-item .item-info p{
font-size: 1.3rem;
font-family: "Lato";
margin-top: 0;
line-height: 1.1;
}


/* Make a reservation styles */

.reservation-container{
  background-color: rgb(255, 255, 255);
  padding: 8rem 8rem;
  text-align: center;
}

.reservation-container .scheduling-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 2rem;
}

.scheduling-container input,
.scheduling-container select{
  flex: 1;
  height: 5rem;
  border: 2px solid black;
  padding: 0 2rem;
  background-color: #ebf0e4;
  font-size: 1.5rem;
  font-family: "Lato";
}


.btn.primary{
  background-color: #233000;
  border: 2px solid black;
  margin-top: 4rem;
  padding: 0 4rem;
}

.btn.primary:hover{
  background-color: rgb(26, 97, 130);
}



/* Footer */

footer{
  background-color: var(--footer--bg--color);
  color: var(--footer-text-color);

}

.contact-container {
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.contact-container .left{
    flex: 0 0 auto; /*if a width or height is not explicitly set on the item or itself  */

}

.contact-container .middle{
    flex: 0 0 auto; 
}

.contact-container .right{
    flex: 1;
    max-width: 400px;
}


.left .footer-title {
    font-family: "Rufina";
    font-size: 3.5rem;
    margin: 0;
}

.contact-container .footer-subtitle{
    font-family: "Rufina";
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.contact-container .middle{
    font-family: "Lato";
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}


.contact-container .middle p{
    font-family: "Lato";
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}


.contact-container .newsletter-container{
    display:flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-container .newsletter-container input{
    flex: 1;
    height: 4rem;
    border: 2px solid white;
    background-color: black;
    padding-left: 2rem;
    padding-right: 1.2rem;
    color: white;
}

.contact-container .newsletter-container input::placeholder {
    color: #CCC;        
}


.btn.secondary{
    border:none;
    background-color: #5e6600;
}

.btn.secondary:hover{
    background-color: #aceb4e;
}

.newsletter-info{
    font-family: "Lato";
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 0;
}

.copyright-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem 5rem 8rem;
    font-family: "Lato";
    border-top: 2px dashed white;
}

.socials-container{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.socials-container img{
    width: 2rem;
    background-color: rgb(125, 224, 3);
    height: 2rem;
}